<div class="container">
  <div class="header_flex">
    <div class="dsw_logo">
      <img height="50" width="100" src="/assets/img/logo.png" />
    </div>
    <div class="rightNav">
      <img height="75" width="74" src="/assets/img/account.gif" />
      <img height="75" width="74" src="/assets/img/store.gif" />
      <img height="75" width="74" src="/assets/img/search.gif" />
      <img height="75" width="74" src="/assets/img/bag.gif" />
    </div>
  </div>
  <div class="navbar">

    <div class="example-button-row">
      <a class="link" mat-button routerLink=".">WOMEN</a>
      <a class="link" mat-button routerLink=".">MEN</a>
      <a class="link" mat-button routerLink=".">KIDS</a>
      <a class="link" mat-button routerLink=".">ACCESSORIES</a>
      <a class="link" mat-button routerLink=".">CLEARANCE</a>
      <a class="link" mat-button routerLink=".">BRANDS</a>
    </div>
  </div>
  <div class="p-container">
    <p class="p-text">
      <small>Shop for men's oxford shoes online at DSW, where we carry a variety of dress and casual
        oxford styles such as wingtips and cap toe shoes in leather, suede, and other materials.</small>
    </p>
  </div>
  <div class="content-mid">
    <div class="c-mid-left"> <b>MEN'S OXFORDS & LACE-UPS</b>
    </div>
    <div class="c-mid-right"><small>
        <p>
          <mat-checkbox><b>NEED IT TODAY?</b></mat-checkbox> Available at Easton <a class="link" routerLink=".">Change
            Store</a>
        </p>
      </small>
    </div>
  </div>
  <div class="content-pagebar">
    <div class="c-pagebar-left">
      <small>Showing 1-60 of 640 Items
      </small>
    </div>
    <div class="c-pagebar-right">
      <button color="primary">FILTER</button>
      <button color="black">SORT BY: FEATURED</button>
    </div>
  </div>
  <div class="gallery-content">
    <gallery [flexBorderSize]="3" [flexImageSize]="7" [galleryName]="''" [maxRowsPerPage]="100"
      (viewerChange)="yourNotificationFunction($event)">
    </gallery>
  </div>
</div>
<router-outlet></router-outlet>